{% extends 'admin/change_list.html' %}

{% block object-tools %}
    <div>
        <form action="tasks_action/" method="POST">
            {% csrf_token %}
            <button type="submit" class="button" title="Получить новые объявления" style="font-size: 13px;
              border: 1px solid #ccc;
              border-radius: 4px;
              cursor: pointer;
              height: 34px;
              line-height: 1;
              padding: 4px 8px;
              margin: 0;">Получить новые объявления</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}