{% extends "admin/change_list.html" %}

{% block content_title %}
    <h1> Популярные языки программирования </h1>
{% endblock %}
{% block result_list %}
<div class="results">
    <table>
    <thead>
      <tr>
        <th>
          <div class="text">
            <a href="#">Category</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Weight</a>
          </div>
        </th>
        <th>
          <div class="text">
            <a href="#">Procent</a>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      {% for row in summary %}
      <tr class="{% cycle 'row1' 'row2' %}">
        <td> {{ row.title }} </td>
        <td> {{ row.weight  }} </td>
        <td>
          <strong>
            {% widthratio row.weight summary_total 100 %}%
          </strong>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- 
<div class="results">
  <h2> Sales over time </h2>
  <style>
  .bar-chart {
    display: flex;
    justify-content: space-around;
    height: 180px;
    padding-top: 60px;
    margin-top: 90px;
  }
  .bar-chart .bar {
      flex: 100%;
      align-self: flex-end;
      margin-right: 2px;
      position: relative;
      background-color: #79aec8;
  }
  .bar-chart .bar:last-child {
      margin: 0;
  }
  .bar-chart .bar:hover {
      background-color: #417690;
  }
  .bar-chart .bar .bar-tooltip {
      position: relative;
      z-index: 999;
  }
  .bar-chart .bar .bar-tooltip {
      position: absolute;
      top: -20px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      font-weight: bold;
      opacity: 0;
  }
  .bar-chart .bar:hover .bar-tooltip {
      opacity: 1;
  }
  </style>
  <div class="results">
      <div class="bar-chart">
      {% for row in summary %}
          <div class="bar" style="height:{% widthratio row.weight summary_total 100 %}%">
              <div class="bar-tooltip">
                {% widthratio row.weight summary_total 100 %}
              </div>
              {{row.title }}
          </div>
      {% endfor %}
      </div>
  </div>
</div>
 -->
{% endblock %}
{% block pagination %}{% endblock %}